{% extends 'native.html.twig' %}
{% set message = message %}
{% set listanime = anime %}

{% block body_home %}

    {% block stylesheets %}
            {{ parent() }}
    {% endblock %}

{% for group in mygroup %}
                    <li><a class="nav-item" href="">{{ group.groupe.nom }}</a></li>
{% endfor %}


---------------------------------------------------
{% for article in listarticle %}
                    <li><a class="nav-item" href="">{{ article.nom }}</a></li>
    {% endfor %}

{% endblock %}