.back-box{
    background-color: #eff3f6;
}
.my-card{
    background-color: white;
    margin-bottom: 1.875rem!important;
    border-radius: 3%;
    padding-top:10px;
    padding-bottom: 10px;
    box-shadow: 0 0 0.3em black;
}
.my-card1{
    box-shadow: 0 0 0.03em black;
    background-color: #eff3f6;
    padding: 8px 10px;
    border-radius: 40px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 6px;
    width: 70%;
}
.text{

}

        /* Style the tab */
        .tab {
            overflow: hidden;
            background-color: transparent;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: transparent;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: transparent;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border-top: none;
        }

        .hide {
            display: none;
        }