<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
           <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    {% block nav %}
    <nav class="nav nav-pills nav-fill flex-column flex-sm-row">
            <a class="navbar-brand" href="#">
    <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
            <a class="nav-link active nav-item" href="{{ path('index') }}">Accueil</a>
            <a class="nav-link nav-item" href="{{ path('Anime') }}/3">Anime</a>
            <a class="nav-link nav-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorie</a>
                <div class="dropdown-menu"> <!-- bloc déroulant -->
                    <a class="dropdown-item" href="#">Service 1</a>
                    <a class="dropdown-item" href="#">Autre service</a>
                    <a class="dropdown-item" href="#">Dernier Service</a>
                </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
 {% endblock %}
</html>
